<form  id="FormValidation"class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group" [ngClass]="{'has-error':!form.controls['range'].valid && form.controls['range'].touched}">
    <label for="daternage" class="control-label">DateRangePicker</label>
    <ejs-daterangepicker id="daternage" placeholder="select a range" floatLabelType="Auto" name="range" class="form-control" formControlName="range"></ejs-daterangepicker>
  </div>
  <div *ngIf="form.controls['range'].hasError('required') && form.controls['range'].touched" class="alert alert-danger">You must select a date Range.</div>
  <div class="form-group" [ngClass]="{'has-error':!form.controls['date'].valid && form.controls['date'].touched}">
    <label for="date" class="control-label">DatePicker</label>
    <ejs-datepicker id="date"  name="date" class="form-control" formControlName="date"></ejs-datepicker>
  </div>
  <div *ngIf="form.controls['date'].hasError('required') && form.controls['date'].touched" class="alert alert-danger">You must select a date</div>
  <div class="form-group" [ngClass]="{'has-error':!form.controls['datetime'].valid && form.controls['datetime'].touched}">
    <label for="datetime" class="control-label">DateTimePicker</label>
    <ejs-datetimepicker id="datetime" name="datetime" class="form-control" formControlName="datetime"></ejs-datetimepicker>
  </div>
  <div *ngIf="form.controls['datetime'].hasError('required') && form.controls['datetime'].touched" class="alert alert-danger">You must select a datetime</div>
  <div class="form-group" [ngClass]="{'has-error':!form.controls['time'].valid && form.controls['time'].touched}">
    <label for="time" class="control-label">TimePicker</label>
    <ejs-timepicker id="time" name="time" class="form-control" formControlName="time"></ejs-timepicker>
  </div>
  <div *ngIf="form.controls['time'].hasError('required') && form.controls['time'].touched" class="alert alert-danger">You must select a time</div>
  <div>
    <div id='valid'></div>
    <button  type="button" id="reset" class="btn btn-primary" (click)="ResetForm($event)">
    Reset
  </button>
    <button type="submit" id="submit" class="btn btn-primary">
    Submit
  </button>
  <div> </div>
  </div>
</form>

<div id="details">
  <pre>{{form.value | json}}</pre>
  <pre>{{form.valid}}</pre>
</div>


<style>
  .form-control {
    border: none;
    box-shadow: none;
  }
  
  .form-horizontal {
    margin-top: 80px;
  }
  
  form {
    height: auto;
    width: 500px;
    margin: 0 auto;
  }
  
  #details {
    margin-top: 10px;
  }
</style>