<!-- <div class="align">
<ejs-sidebar id="default-sidebar" #sidebar width="285px">
    <div class="title"> Sidebar content</div>
    <div class="sub-title">
        Click the button to close the Sidebar.
    </div>
    <div></div>
    <div class="center-align">
        <button ejs-button id="close" (click)="closeClick()" class="e-btn close-btn">Close Sidebar</button>
    </div>
</ejs-sidebar>
<div id ="sidebar">
    <div class="contents1">
    <div class="span3">
        Enable RTL
    </div>
    <div class="span3">
        <ejs-checkbox (change)="enableRTL($event)"></ejs-checkbox>
    </div>
    <div class="span3">
        EnableStrict Persistence
    </div>
    <div class="span3">
        <ejs-checkbox (change)="enablePersistence($event)"></ejs-checkbox>
    </div>
    <div class="span3">
        Close on Doument click
    </div>
    <div class="span3">
        <ejs-checkbox (change)="closeonDocumentClick($event)"></ejs-checkbox>
    </div>
    <div class="span3">
        Animate
    </div>
    <div class="span3">
        <ejs-checkbox (change)="Animate($event)"></ejs-checkbox>
    </div>
    <div class="span3">
        enable Gestures
    </div>
    <div class="span3">
        <ejs-checkbox (change)="enableGesture($event)"></ejs-checkbox>
    </div>
    <div class="span3">
        Backdrop
    </div>
    <div class="span3">
        <ejs-checkbox (change)="Backdrop($event)"></ejs-checkbox>
    </div>
    <div class="span3">
        Width string Value
    </div>
    
    <div class="span3">
        <div class="e-float-input" style="width: 200px;">
            <input type="text" id="width" name="width" (focusout)="onStringFocusout($event)"/>
            <span class="e-float-line"></span>
            <label class="e-float-text" for="width">Width String Value</label>
        </div>
    </div>
    <div class="span3">
        Width number Value
    </div>
    <div class="span3">
        <div class="e-float-input" style="width: 200px;">
            <input type="text" id="widthstring" name="widthstring" (focusout)="onNumberFocusout($event)"/>
            <span class="e-float-line"></span>
            <label class="e-float-text" for="widthstring">Width number Value</label>
        </div>
    </div>
    <div class="span3">
        Z-index Value
    </div>
    <div class="span3">
        <div class="e-float-input" style="width: 200px;">
            <input type="text" id="Zindex" name="Zindex" (focusout)="onIndexFocusout($event)"/>
            <span class="e-float-line"></span>
            <label class="e-float-text" for="Zindex">Z-index Value</label>
        </div>
    </div>
    <div class="span3">
        Position
    </div>
        <div class="span3">
        <ejs-dropdownlist id='position' [dataSource]='position' (change)="positionChange($event)" value="Left" placeholder="Position"
            width="200px"></ejs-dropdownlist>
    </div>
    <div class="span3">
        Type
    </div>
    <div class="span3">
        <ejs-dropdownlist id='type' [dataSource]='type' (change)="typeChange($event)" value="Auto" placeholder="Tyoes" width="200px"></ejs-dropdownlist>
    </div>
    <div class="methods">
        Methods
        <div>
            <ejs-checkbox id="show" label='Show/Hide' (change)="showHide()" checked="true"></ejs-checkbox>

            <button id="destroy" Class="e-control e-btn" (click)="Destroy()">Destroy</button>

            <button id="toggle" Class="e-control e-btn" (click)="toggle()">Toggle</button>

        </div>
    </div>
</div>
</div>

<style>
    .content-wrapper {
        width: 100%;
        margin: 0 auto;
        padding-top: 60px;
    }
    .methods{
        float:left;
    }
    #container {
        width: 100%;
        height: 60%;
    }

    .contents {
        width: 30%;
        float: left;
        height: auto;
    }
    .align{
        top:50px;
        position: absolute;
    }
    .contents1 {
        width: 100%;
        float: right;
        height: auto;
        padding: 20px 0px 20px 20px;

    }

    .e-checkbox {
        position: relative !important;
    }

    .control h3 {
        text-align: center;
        padding: 80px 0px 0px 20px;
    }

    .control b {
        text-align: center;
        padding-left: 80px;
    }

    .span3 {
        width: 25%;
        float: left;
        align-content: center;
        padding-bottom: 10px;
    }

    input[type='text'] {
        width: 140px;
    }

    #default-sidebar{
        top:50px;
        background: #2196f3;
    }

    .e-dropdownlist {
        width: 200px;
    }
    .title,
    .sub-title,
    .center-align{
        text-align: center;
        font-size: 14px;
        padding: 15px;
    }
    .center-align{
        text-align: center;
        padding: 15px;
    }
   

</style> -->
